<%- include('shared/head') -%>
    <%- include('shared/nav') -%>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="card-img-top" src="https://integracionmp-nodejs.herokuapp.com/api/articulos/imgs/<%= item.img%>" alt="">
                </div>
                <div class="col-md-6">
                    <br>
                    <br>
                    <h1>
                        <%= item.nombre%>
                    </h1>
                    <hr>
                    <h3>
                        <%= item.descripcion%>
                    </h3>
                    <hr>
                    <h5><strong>Precio:</strong>
                        <%= new Intl.NumberFormat("es-MX", {style: "currency", currency: "MXN"}).format(item.precio) %>
                    </h5>
                    <hr>
                    <div class="row">

                        <div class="col-md-6">
                            <a class="btn btn-block btn-danger" href="/">Regresar</a>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-block btn-success" href="<%=init_point%>">Pagar la compra</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include('shared/footer') -%>