<%- include('shared/head') -%>
    <%- include('shared/nav') -%>
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center" colspan="2">Estado de su pago</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>collection_id:</th>
                                <td>
                                    <%= data.collection_id %>
                                </td>
                            </tr>
                            <tr>
                                <th>collection_status:</th>
                                <td>
                                    <%= data.collection_status %>
                                </td>
                            </tr>
                            <tr>
                                <th>external_reference:</th>
                                <td>
                                    <%= data.external_reference %>
                                </td>
                            </tr>
                            <tr>
                                <th>merchant_account_id:</th>
                                <td>
                                    <%= data.merchant_account_id %>
                                </td>
                            </tr>
                            <tr>
                                <th>merchant_order_id:</th>
                                <td>
                                    <%= data.merchant_order_id %>
                                </td>
                            </tr>
                            <tr>
                                <th>payment_type:</th>
                                <td>
                                    <%= data.payment_type %>
                                </td>
                            </tr>
                            <tr>
                                <th>preference_id:</th>
                                <td>
                                    <%= data.preference_id %>
                                </td>
                            </tr>
                            <tr>
                                <th>processing_mode:</th>
                                <td>
                                    <%= data.processing_mode %>
                                </td>
                            </tr>
                            <tr>
                                <th>site_id:</th>
                                <td>
                                    <%= data.site_id %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <a href="/" class="btn btn-block btn-danger">Regresar a la tienda</a>
                </div>

            </div>
        </div>
        <%- include('shared/footer') -%>